body {
  background-color: #1a1a1a !important;
}

.App .container {
  margin-top: 10px;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
  text-align: center;
  color: black;
  max-width: 900px;
  max-height: 600px;
}
.App .container .Video {
  max-width: 400px;
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
}
.App .container .Video-Border {
  max-width: 420px;
  margin: 0 auto;
  max-height: 400px;
  min-height: 100px;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 10px;
}
h1 {
  font-weight: bolder;
  font-size: 40px;
  color: #ffff;
}

.App-footer {
  margin: 10px;
  color: #fff;
}
footer a {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}

.GitHub-Link:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0.5px 0.15px rgb(255, 255, 255);
  letter-spacing: 0.5px;
  text-decoration: underline;
}
.Netlify-Link:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0.5px 0.15px rgb(255, 255, 255);
  letter-spacing: 0.5px;
  text-decoration: underline;
}

.Pexels-Link:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0.5px 0.15px rgb(255, 255, 255);
  letter-spacing: 0.5px;
  text-decoration: underline;
}
