.App {
  margin-top: 10px;
  font-family: monospace;
  margin-bottom: 40px;
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: 40px;
}

.photo1 {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  max-height: 350px;
}
.App-footer {
  margin: 10px;
}
